<div id="channels">
	<p style="text-align: center;">
		an anonymous,<br />realtime community.
	</p><br />
	<ul>
		<li class="current"><a href="#">All</a></li>
		<li><a href="#">/a/ - Art</a></li>
		<li><a href="#">/b/ - Random</a></li>
		<li><a href="#">/c/ - Cats</a></li>
		<li><a href="#">/e/ - Epistemophiles</a></li>
		<li><a href="#">/f/ - F7U12</a></li>
		<li><a href="#">/m/ - Music</a></li>
	</ul><br />
	<p style="text-align: center;">
		226 posts<br />
		32 online<br />
		7 channels<br />
	</p><br />
</div>
