        <div id="share">
		<!--
                Share:
                <strong>Text</strong>
                <a href="#">Image</a>
                <a href="#">Link</a>
                <a href="#">Rage</a>
		-->
                <form id="shareForm" method="post">
	                <div class="pane" id="shareText">
        	                <input id="shareTextBox" type="text" />
                	</div>

	                <div id="userinfo">
				<br /><input name="image" type="file" style="float: left;" />
        	                &nbsp;&nbsp;&nbsp;&nbsp;Name:
                	        <input type="text" id="name" />
                        	<input type="submit">
                </div>
		</form>
        </div>

