<div class="static">
	<h2>about</h2><br />
	<p><strong>oak</strong> is a realtime imageboard written with nodejs and redis. <strong>oak</strong> is an experiment. <strong>oak</strong> is what you make it.</p><br />
	
	<h3>tripcodes</h3><br />
	<p>Tripcodes are enabled. To utilze them, enter your name in this format: <code>name#tripcode</code> or <code>name!tripcode</code>.</p><br />

	<h3>rules</h3><br />
	<ol>
		<li>No illegal images may be posted.</li>
		<li>No illegal images may be posted.</li>
		<li>No illegal images may be posted.</li>
	</ol>
</div>
