* {
   	margin: 0;
}

body {
  	font: 14px Lucida Grande, Helvetica, Arial, sans-serif;
    margin: 0;
	color: #870400;
	background: #ffffee;
}

#header {
	background: #ffffee;
    position: fixed;
    width: 100%;
	height: 40px;
}

#nav {
	width: 700px;
    height: 30px;
    background: #f3e0d6;
    line-height: 30px;
	margin: 9px auto 0;
	border-bottom: 0;
	text-align: right;
}

#nav a {
	color: #870400;
	display: inline-block;
    padding: 0 15px;
    text-decoration: none;
}

#nav a:hover {
	background: #f6aa87;
}

#logo {
    font-size: 20px;
    font-weight: bold;
	float: left;
}

#content {
	border-top: 0;
	width: 700px;
	margin: 0 auto 20px;
	padding-top: 40px;
}

.static {
	padding: 15px;
}

#content a {
	text-decoration: none;
	color: #002eed;
}
#content a:hover {
	text-decoration: underline;
}

#share {
	padding: 15px;
	font-size: 0.9em;
	color: #870400;
	position: fixed;
	top: 40px;
	background: #ffffee;
}

#share input {
	border: 1px solid #f5a986;
	padding: 4px;
	outline: 0;
	margin: 10px auto 0;
}

#shareTextBox {
	width: 660px;
	font-size: 1.2em;
}

#share a {
	margin-left: 5px;
}

input[type=submit], button {
	background: #df6aa87;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 0 #e6e6e6;
	-moz-box-shadow: 0 1px 0 #e6e6e6;
}

input[type=submit]:active, button:active {
	background-color: #ddd;
	background-image: none;
}

#feed {
	padding: 90px 10px 10px;
}

.post {
	border-bottom: 1px solid #dcbfb7;
	padding: 10px 0;
	color: #91170a;
	clear: both;
}

.post-image {
	float: left;
	margin: 0 10px 0 5px;
}

.post-body .meta {
	font-size: 0.8em;
	margin: 5px;
}

.post-comments {
	width: 615px;
	float: right;
	margin-top: 5px;
}

.post-comments .comment {
	background: #f2e0d6;
	font-size: 12px;
	border-bottom: 1px solid #dcbfb6;
	padding: 5px;
	margin-top: 3px;
}

.post-comments .comment .meta {
	margin-top: 4px;
	font-size: 0.8em;
	float: right;
	color: #b96461;
}


hr {
	background: none;
	border: 0;
	clear: both;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

#userinfo {
	float: right;
}

