                                <div class="comment">
                                        <div class="meta">
						<%= name ? '<strong>' + name + '</strong>' : 'Anonymous' %>
						<span class="time" data-time="<%= time %>"><%= time %></span>
					</div>
                                        <%= text %><br />
                                </div>
